main{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin: 1em;
    text-align: center;
}

nav {
    background-color: bisque;
    padding: 1rem;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}